.header{
    background: linear-gradient(0.25turn, #d7ec99, #a6a6e6, #4f5e6e);
    padding: 10px;
    border-radius: 100px;
    margin: 10px 200px 20px 200px;
}
.searchForm{
    display: flex;
    gap: 20px;
    justify-content: center;
}
.formInput{
    width: 400px;
    height: 40px;
    padding: 5px 20px;
    font-size: 20px; 
    background-color: transparent;
    border: 1px solid #29d2c4;
    border-radius: 50px;
    color: rgb(0, 0, 0);
}
.formInput::placeholder{
    font-size: 20px;
}
.submitButton{
   background-color: transparent;
   border: none;
}
.toast{
    font-size: 30px;
    font-weight: 400;
    color: red;
    background-color: rgb(174, 174, 235);
    border-radius: 10px;
    padding: 10px;
}